# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
.env/

# Environment Variables
.env
.env.*
!.env.example

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
*.swo
